{% extends "base.html" %}
{% block content %}
<main>
    <section id="services" class="services section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Welcom to our News</h2>
          <div><span>Check Our NewsLetters</span> <span class="description-title">Services</span></div>
        </div><!-- End Section Title -->
          <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4 justify-content-center">
              {% for poste in postes%}
                <div class="col-12 col-sm-6 col-md-2 mb-4">
                  <div class="card h-100">
                    <div class="p-2 d-flex">
                      <strong>publish by:</strong>
                      <strong class="text-success">{{poste.created_by}}</strong>
                    </div>
                    {% if poste.image %}
                      <img src="{{ poste.image.url }}" class="img-fluid" alt="Image">
                    {% elif poste.fichier %}
                    <iframe src="{{ poste.fichier.url }}" width="100%" height="600px"></iframe>
                    {% else %}
                        <p>Aucune image disponible</p>
                    {% endif %}
                    <div class="p-2">
                      <a href="service-details.html" class="stretched-link">
                        <h3 class="text-black">{{ poste.title }}</h3>
                        <p class="text-black">{{ poste.discription }}</p>
                        <p>{{poste.created_at}}</p> 
                      </a>
                    </div>
                  </div>
                </div>
              {%endfor%}
            </div>

          </div>
  
      </section><!-- /Services Section -->
  
</main>
{% endblock %}